body {
    background-color: #38d2bb;
}

.auth-form {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #d5d5d5;
}

.navbar {
    margin: 0;

    border: 1px solid black;
}